@use '../custom' as *;

// Formato del header
.menu {
    background-color: $green;
    border-bottom: 1px solid #000;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
}

.huella {
    margin-right: .5rem;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link:hover{
    animation: pulse;
    animation-duration: 1s;
    color: $orange-xs !important;
}